==
<!doctype html>
<html lang="{{ this.app.locale|slice(0,2) }}" {{ pageVars.dark_switch == 'none' ? 'data-bs-theme=' ~ pageVars.dark_mode }} class="h-100">
<head>

  <link href="{{ [
            'assets/scss/webbook.scss'
        ] | theme }}" rel="stylesheet">

 {% styles %}
</head>

<body id="top" class="d-flex flex-column h-100">

    <header>
        {% partial 'site/navbar' %}
    </header>

<main>
{% page %}
</main>


    <footer  class="mt-auto">
        {% partial 'site/footer' %}
    </footer>

{% scripts %}
</body>
</html>